.about-me {
    position: relative;
    min-height: 840px;
    &__content {
        display: grid;
        padding: 120px 0;
        grid-template-columns: 400px 740px;
        grid-template-rows: minmax(245px, auto) minmax(255px, auto);
        justify-content: center;
    }
    &__photo {
        grid-column: 1/2;
        grid-row: 1/3;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__descr {
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 6px 100px 0 70px;
    }
    &__subtitle {
        position: relative;
        z-index: 2;
        padding-left: 16px;
        @include before_circle;
    }
    &__title {
        margin-top: 6px;
    }
    &__divider {
        @include divider;
    }
    &__text {
        display: block;
        min-height: 123px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        margin-top: 24px;
    }
    &__skills {
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 6px 100px 0 70px;
    }
    &__skills-blocks {
        display: grid;
        grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 260px);
        grid-auto-rows: 1fr;
        row-gap: 20px;
        column-gap: 30px;
        justify-content: center;
    }
    &__skills-block {
        display: grid;
        grid-template-rows: 40px 1fr;
        grid-template-columns: 40px 1fr;
        column-gap: 20px;
    }
    &__skills-icon {
        position: relative;
        justify-self: end;
        align-self: center;
        padding-top: 0px;
        @include before_circle;
        &:before {
            top: -35%;
            left: -18px;
        }
    }
    &__skills-descr {
        min-height: 89px;
        grid-column: 2/3;
        grid-row: 2/3;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
    &__skills-title {

    }
}